.navigation-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }
  
  .navigation-bar-left {
    flex: 0.5;
    font-weight: bold;
    color: #fff;
  }
  
  .navigation-bar-center {
    flex: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .bar-item {
    font-size: 1.5rem;
    margin-left: 20px;
    color: lawngreen;
  }