
.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    border-style:solid;
    background-color: blue;

    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 110px;
}